body {
  font-family: 'Graduate', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: 1px solid blue;
}

.flex-container {
  display: flex;
}

#outer {
  width: 400px;
  height: 100vh;
  border: 1px solid blue;
}

#quote {
  font-size: 2em;
}

button div {
  align-items: center;
}
button div img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#button-container {
  border: 2px red solid;
}
