body {
  font-family: 'Graduate', cursive;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

.flex-container {
  display: flex;
}

#content-wrapper {
  margin-top: 20vh;
  width: 100%;
}

.outer {
  max-width: 400px;
  height: 100vh;
  border: 1px solid blue;
}

#quote {
  font-size: 2em;
  border: 1px solid black;
}

button div {
  align-items: center;
}
button div img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#button-container {
  display: flex;
  justify-content: space-around;
  border: 2px red solid;
}
