body {
  font-family: 'Graduate', cursive;
}

button{
  border: 1px solid blue;
}
.box {
  margin: auto;
  border: 1px solid black;
}
.flex-container {
  display: flex;
}
.myheight{
  height: 600px;
}
@media (max-height: 500px) {
  .myheight {
    height: 400px;
  }
}
.center{
  justify-content: center;
  align-items: center;
}
#outer {
  .flex-container{
    justify-content: space-around;
  }
  width: 50%;
  justify-content: center;
  border: 1px solid red;
  flex-direction: column;
}

#quote {
  font-size: 2em;
}

button {
  div {
    align-items: center;
    img {
      width: 30px; 
      height: 30px;
      margin-right: 10px;
    }
  }
}